.web-page {
  width: 100%;
  background-color: white;
  display: grid;
  height: 100%;
}
.google-keep {
  width: 100%;
  margin: auto;
  height: 75vh;
  background-image: url("https://www.google.co.in/keep/img/hero-bg-2x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.upper-part {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;
}
.google {
  display: flex;
  flex-direction: row;
  font-size: 35px;
  color: white;
}
.logo {
  display: flex;
  flex-direction: row;
}
.fa-google-plus {
  display: block;
  border-radius: 100%;
  margin: 0;
  padding: 0.5em;
  font-size: 20px;
  border-color: white;
  background-color: white;
  display: flex;
  align-items: center;
  margin-right: 5px;
}
.fa-facebook {
  display: block;
  border-radius: 100%;
  margin: 0;
  padding: 0.5em;
  font-size: 20px;
  margin-right: 5px;
  border-color: white;
  background-color: white;
  display: flex;
  align-items: center;
  margin-right: 5px;
  padding: 0px 16px;
}
.fa-twitter {
  display: block;
  border-radius: 100%;
  margin: 0;
  padding: 0.5em;
  border-color: white;
  background-color: white;
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-right: 5px;
  padding: 0px 12px;
}
.thoughts-part {
  color: white;
  display: flex;
  flex-direction: column;
  margin-left: 244px;
  padding-top: 100px;
}
.heading {
  font-size: 50px;
}
.button-1 {
  background-color: #698df6;
  padding: 15px 0px;
  border-radius: 4px;
  color: white;
  width: 142px;
  border-color: #698df6;
}
.capture {
  width: 100%;
  margin: auto;
  height: 60vh;
  background-color: skyblue;
}
.notes {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 35px;
}
.Capture-mind {
  font-size: 35px;
  color: gray;
}
.photo-note {
  font-size: 15px;
  color: black;
}
.row-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.iteams {
  font-size: 17px;
}
.imgs-1 {
  //width: 100%;
  //margin: auto;
  //height: 60vh;
  //background-color: blueviolet;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 16%;
  margin-right: 150px;
}
.col-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffe900;
  // height: 88%;
  //width: 103%;
}
.party {
  font-size: 32px;
  padding-top: 23px;
}
.date-time-1 {
  display: flex;
  flex-direction: row;
  border-top: #fff;
  border-top-style: dotted;
}
.material-icons {
  color: white;
}
.time-1 {
  font-size: 14px;
}
.icon {
  align-items: center;
}
.fa-align-justify {
  font-size: 20px;
}
.checks {
  display: flex;
  flex-direction: row;
  p {
    padding: 5px;
    width: 5px;
    border: 1px solid white;
  }
}
.imgs-2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.col-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #1ce8b5;
  height: 88%;
  width: 103%;
}
.ideas {
  font-size: 20px;
  color: gray;
  padding-top: 20px;
}
.bikes {
  color: grey;
  font-size: 13px;
}
.candles {
  color: grey;
  font-size: 10px;
}
.plants {
  color: grey;
  font-size: 10px;
}
.drop {
  color: grey;
  font-size: 10px;
}
.dotted {
  color: black;
  // padding-bottom: 34px;
}
.loaction {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  padding-right: 5px;
  border-top: white;
  border-top-style: dotted;
}
.material-icons {
  font-size: 15px;
}
.adress {
  color: gray;
}
.material-icons {
  font-size: 20px;
}
