.web-page {
  width: 100%;
  background-color: black;
  height: 100%;
  @media screen and (min-width: 320px) and (max-width: 426px) {
    width: 100%;
  }
}
.testing {
  p {
    font-size: 15px;
    color: white;
    width: 100%;
    text-align: center;
    display: flex;
    @media screen and (min-width: 320px) and (max-width: 426px) {
      font-size: 10px;
    }
  }
}

.row1 {
  width: 100%;
  margin: auto;
  height: 60vh;
  background-image: url("https://newevolutiondesigns.com/images/freebies/city-wallpaper-37.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (min-width: 320px) and (max-width: 426px) {
    width: 100%;
  }
}
.center {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  @media screen and (min-width: 320px) and (max-width: 426px) {
    height: 275px;
  }
}
.motion {
  font-size: 50px;
  @media screen and (min-width: 320px) and (max-width: 426px) {
    font-size: 26px;
  }
}
.function {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  @media screen and (min-width: 320px) and (max-width: 426px) {
    font-size: 13px;
    width: 250px;
  }
}
.row2 {
  width: 100%;
  margin: auto;
  background-color: #202024;
  @media screen and (min-width: 320px) and (max-width: 426px) {
    width: 100%;
  }
}
.row2-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  padding-top: 50px;
  @media screen and (min-width: 320px) and (max-width: 426px) {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
}
.img-col-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2c2c32;
  margin-left: 30px;
  @media screen and (min-width: 320px) and (max-width: 426px) {
    margin-left: 7px;
    margin-right: 7px;
  }
}
.img-1 {
  background-image: url("https://templated.co/items/demos/fullmotion/images/pic01.jpg");
  background-repeat: no-repeat;
  height: 150px;
  width: 260px;
  background-size: cover;
  margin-top: 25px;
}
.name-1 {
  font-size: 20px;
  color: white;
  @media screen and (min-width: 320px) and (max-width: 426px) {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 17px;
    padding-top: 10px;
    padding-bottom: 5px;
  }
}
.info-1 {
  font-size: 15px;
  color: whitesmoke;
  text-align: center;
  display: flex;
  width: 265px;
  @media screen and (min-width: 320px) and (max-width: 426px) {
    font-size: 10px;
  }
}
.button-1 {
  background-color: aquamarine;
  padding: 10px 108px;
  border-radius: 4px;
  color: white;
  border-color: aquamarine;
  margin-bottom: 20px;
}
.img-col-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2c2c32;
  margin-left: 40px;
  margin-right: 40px;
  @media screen and (min-width: 320px) and (max-width: 426px) {
    margin-left: 9px;
    margin-right: 9px;
    margin-top: 10px;
  }
}
.img-2 {
  background-image: url("https://templated.co/items/demos/fullmotion/images/pic02.jpg");
  background-repeat: no-repeat;
  height: 150px;
  width: 260px;
  background-size: cover;
  margin-top: 25px;
  @media screen and (min-width: 320px) and (max-width: 426px) {
    height: 150px;
    width: 260px;
  }
}
.name-2 {
  font-size: 20px;
  color: white;
  @media screen and (min-width: 320px) and (max-width: 426px) {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 17px;
    padding-top: 10px;
    padding-bottom: 5px;
  }
}
.info-2 {
  font-size: 15px;
  color: whitesmoke;
  text-align: center;
  display: flex;
  width: 265px;
  @media screen and (min-width: 320px) and (max-width: 426px) {
    font-size: 10px;
  }
}
.button-2 {
  background-color: lightseagreen;
  padding: 10px 108px;
  border-radius: 4px;
  color: white;
  border-color: lightseagreen;
  display: flex;
  align-self: center;
  margin-bottom: 20px;
}
.img-col-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2c2c32;
  margin-right: 75px;
  @media screen and (min-width: 320px) and (max-width: 426px) {
    margin-left: 7px;
    margin-top: 10px;
    margin-right: 7px;
  }
}
.img-3 {
  background-image: url("https://templated.co/items/demos/fullmotion/images/pic03.jpg");
  background-repeat: no-repeat;
  height: 150px;
  margin-top: 25px;
  width: 260px;
  background-size: cover;
}
.name-3 {
  font-size: 20px;
  color: white;
  @media screen and (min-width: 320px) and (max-width: 426px) {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 17px;
    padding-top: 10px;
    padding-bottom: 5px;
  }
}
.info-3 {
  font-size: 15px;
  color: whitesmoke;
  width: 265px;
  text-align: center;
  display: flex;
  @media screen and (min-width: 320px) and (max-width: 426px) {
    font-size: 10px;
  }
}
.button-3 {
  background-color: lightblue;
  padding: 10px 108px;
  border-radius: 4px;
  color: white;
  border-color: lightblue;
  display: flex;
  align-self: center;
  margin-bottom: 20px;
}
.row2-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  padding-top: 50px;
  margin-bottom: 40px;
  @media screen and (min-width: 320px) and (max-width: 426px) {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 30px;
  }
}
.img-col-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2c2c32;
  margin-left: 75px;
  @media screen and (min-width: 320px) and (max-width: 426px) {
    margin-left: 7px;
    margin-right: 7px;
    margin-top: 10px;
  }
}
.img-4 {
  background-image: url("https://templated.co/items/demos/fullmotion/images/pic04.jpg");
  background-repeat: no-repeat;
  height: 150px;
  width: 260px;
  background-size: cover;
  margin-top: 25px;
}
.name-4 {
  font-size: 20px;
  color: white;
  @media screen and (min-width: 320px) and (max-width: 426px) {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 17px;
    padding-top: 10px;
    padding-bottom: 5px;
  }
}
.info-4 {
  font-size: 15px;
  color: whitesmoke;
  width: 265px;
  text-align: center;
  display: flex;
  @media screen and (min-width: 320px) and (max-width: 426px) {
    font-size: 10px;
  }
}
.button-4 {
  background-color: lightblue;
  padding: 10px 108px;
  border-radius: 4px;
  color: white;
  border-color: lightblue;
  display: flex;
  align-self: center;
  margin-bottom: 20px;
}
.img-col-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2c2c32;
  margin-left: 40px;
  margin-right: 40px;
  @media screen and (min-width: 320px) and (max-width: 426px) {
    margin-left: 9px;
    margin-right: 9px;
    margin-top: 10px;
  }
}
.img-5 {
  background-image: url("https://templated.co/items/demos/fullmotion/images/pic05.jpg");
  background-repeat: no-repeat;
  height: 150px;
  width: 260px;
  background-size: cover;
  margin-top: 25px;
}
.name-5 {
  font-size: 20px;
  color: white;
  @media screen and (min-width: 320px) and (max-width: 426px) {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 17px;
    padding-top: 10px;
    padding-bottom: 5px;
  }
}
.info-5 {
  font-size: 15px;
  color: whitesmoke;
  width: 265px;
  text-align: center;
  display: flex;
  @media screen and (min-width: 320px) and (max-width: 426px) {
    font-size: 10px;
  }
}
.button-5 {
  background-color: aquamarine;
  padding: 10px 108px;
  border-radius: 4px;
  color: white;
  border-color: aquamarine;
  display: flex;
  align-self: center;
  margin-bottom: 20px;
}
.img-col-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2c2c32;
  margin-right: 75px;
  @media screen and (min-width: 320px) and (max-width: 426px) {
    margin-left: 7px;
    margin-top: 10px;
    margin-right: 7px;
  }
}
.img-6 {
  background-image: url("https://templated.co/items/demos/fullmotion/images/pic06.jpg");
  background-repeat: no-repeat;
  height: 150px;
  width: 260px;
  background-size: cover;
  margin-top: 25px;
}
.name-6 {
  font-size: 20px;
  color: white;
  @media screen and (min-width: 320px) and (max-width: 426px) {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 17px;
    padding-top: 10px;
    padding-bottom: 5px;
  }
}
.info-6 {
  font-size: 15px;
  color: whitesmoke;
  width: 265px;
  text-align: center;
  display: flex;
  @media screen and (min-width: 320px) and (max-width: 426px) {
    font-size: 10px;
  }
}
.button-6 {
  background-color: lightseagreen;
  padding: 10px 108px;
  border-radius: 4px;
  color: white;
  border-color: lightseagreen;
  display: flex;
  align-self: center;
  margin-bottom: 20px;
}
.row3 {
  width: 100%;
  margin: auto;
  background-color: #1b1b1f;
  @media screen and (min-width: 320px) and (max-width: 426px) {
    width: 100%;
  }
}
.center-1 {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lorem {
  font-size: 30px;
  @media only screen and (max-width: 426px) and (min-width: 320px) {
    font-size: 25px;
    padding-top: 10px;
  }
}
.copy {
  font-size: 10px;
  width: 50%;
  text-align: center;
  margin-top: 20px;
  @media only screen and (max-width: 426px) and (min-width: 320px) {
    text-align: center;
    width: 200px;
    margin-top: 10px;
  }
}
.logo {
  display: flex;
  flex-direction: row;
  @media only screen and (max-width: 426px) and (min-width: 320px) {
  }
}
.fa-twitter-square {
  display: block;
  border-radius: 100%;
  margin: 0;
  padding: 0.5em;
  border: solid 1px rgba(144, 144, 144, 0.25);
  color: rgba(144, 144, 144, 0.25);
  margin-right: 5px;
}
.fa-facebook-official {
  display: block;
  border-radius: 100%;
  margin: 0;
  padding: 0.5em;
  border: solid 1px rgba(144, 144, 144, 0.25);
  color: rgba(144, 144, 144, 0.25);
  margin-right: 5px;
}
.fa-instagram {
  display: block;
  border-radius: 100%;
  margin: 0;
  padding: 0.5em;
  border: solid 1px rgba(144, 144, 144, 0.25);
  color: rgba(144, 144, 144, 0.25);
  margin-right: 5px;
}
.fa-envelope {
  display: block;
  border-radius: 100%;
  margin: 0;
  padding: 0.5em;
  border: solid 1px rgba(144, 144, 144, 0.25);
  color: rgba(144, 144, 144, 0.25);
}
.copyright {
  font-size: 11px;
  @media only screen and (max-width: 426px) and (min-width: 320px) {
    display: flex;
    text-align: center;
    font-size: 9px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
